app = "1stcheltenham-inventory"
kill_signal = "SIGINT"
kill_timeout = "5s"
primary_region = "lhr"
swap_size_mb = 512

[deploy]
strategy = "rolling"

[env]
NODE_ENV = "production"
PORT = "8080"

[experimental]
auto_rollback = true

  [experimental.attached]
  secrets = { }

[http_service]
auto_start_machines = false
auto_stop_machines = false
force_https = true
internal_port = 8_080
min_machines_running = 1
processes = [ "app" ]

  [[http_service.checks]]
  grace_period = "5s"
  interval = "10s"
  method = "GET"
  path = "/healthcheck"
  protocol = "http"
  timeout = "2s"

  [http_service.concurrency]
  hard_limit = 125
  soft_limit = 100
  type = "requests"

[[services]]
[[services.ports]]
force_https = true
handlers = [ "http" ]
port = 80

[[services.ports]]
handlers = [ "tls", "http" ]
port = 443

[[vm]]
cpus = 1
memory = "1gb"
memory_mb = 1_024
